<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack - 登録</title>
</head>

<body>
	<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
		<div class="card shadow-lg" style="width: 50%; max-width: 800px">
			<div class="card-header bg-success text-white py-2">
				<h6 class="mb-0">在庫センター情報登録</h6>
			</div>
			<!-- エラーメッセージの表示 -->
			<div th:if="${errorMsg != null}" class="text-danger">
				<p th:text="${errorMsg}"></p>
			</div>
			<div class="card-body py-2">
				<form class="small" th:action="@{/admin/centerInfo/register}" method="post" th:object="${CenterInfoForm}">
					<!-- 在庫センター名 -->
					<div class="mb-2">
						<label for="centerName" class="form-label">在庫センター名<span class="text-danger">*</span></label>
						<input type="text" class="form-control form-control-sm" id="registerTerm" name="centerName" placeholder="○○物流センター"
							required />
					</div>

					<!-- 郵便番号 -->
					<div class="mb-2">
						<label for="postCode" class="form-label">郵便番号<span class="text-danger">*</span></label>
						<input type="text" class="form-control form-control-sm" id="registerTerm" name="postCode" placeholder="000-0000"
							required />
							
					</div>

					<!-- 住所 -->
					<div class="mb-2">
						<label for="address" class="form-label">住所<span class="text-danger">*</span></label>
						<input type="text" class="form-control form-control-sm" id="registerTerm" name="address" placeholder="〇県〇市"
							required />
					</div>

					<!-- 電話番号 -->
					<div class="mb-2">
						<label for="phoneNumber" class="form-label">電話番号<span class="text-danger">*</span></label>
						<input type="text" class="form-control form-control-sm" id="registerTerm" name="phoneNumber" placeholder="000-0000-0000" required />
					</div>

					<!-- 管理者名 -->
					<div class="mb-2">
						<label for="managerName" class="form-label">管理者名<span class="text-danger">*</span></label>
						<input type="text" class="form-control form-control-sm" id="registerTerm" name="managerName" placeholder="田中太郎"
							required />
					</div>

					 <!-- 稼働状況ステータス --> 
					<div class="mb-2">
						<label class="form-label">稼働状況ステータス<span class="text-danger">*</span></label>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="0" id="registerTerm" name="operationalStatus"
								required />
							<label class="form-check-label" for="operationalStatusActive">稼働中</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" value="1" id="registerTerm" name="operationalStatus"
								required />
							<label class="form-check-label" for="operationalStatusInactive">稼働停止</label>
						</div>
					</div>

					<!-- 最大保管容量 -->
					<div class="mb-2">
						<label for="maxStorageCapacity" class="form-label">最大保管容量（m³）<span
								class="text-danger">*</span></label>
						<input type="number" class="form-control form-control-sm" id="registerTerm" name="maxStorageCapacity" pattern="^[0-9]+$" title="※最大容量は数字で入力してください。" 
							placeholder="500" required />
					</div>

					<!-- 現在保管容量 -->
					<div class="mb-2">
						<label for="currentStorageCapacity" class="form-label">現在保管容量（m³）<span
								class="text-danger">*</span></label>
						<input type="number" class="form-control form-control-sm" id="registerTerm" name="currentStorageCapacity" pattern="^[0-9]+$" title="※現在容量は数字で入力してください。"
							placeholder="250" required />
					</div>

					<!-- 備考 -->
					<div class="mb-2">
						<label for="notes" class="form-label">備考</label>
						<textarea class="form-control form-control-sm" id="registerTerm" name="notes" rows="2"></textarea>
					</div>

					<!-- ボタン -->
					<div class="d-flex justify-content-between">
						<a href="/admin/centerInfo" class="btn btn-secondary btn-sm">キャンセル</a>

						<button type="submit" class="btn btn-success btn-sm">登録する</button>

					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>