<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">

<head>
	<title>InvenTrack</title>
</head>

<body>
	<div class="card shadow mb-4">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">在庫情報</h6>
		</div>

		<div class="card-body">

			<!-- 検索フォーム -->
			<div class="search-container">
				<form class="form-inline" method="post" th:action="@{'/admin/stockList/search'}"
					th:object="${StockListForm}">
					<label for="searchTerm" class="mr-2">検索条件</label>

					<label for="searchTerm" class="mr-2">分類</label>
					<select id="searchTerm" name="categoryId" class="form-control mr-2">
						<option value="0" >すべて</option>
						<option th:each="categoryInfoList : ${categoryInfoList}"
							th:value="${categoryInfoList.categoryId}" th:text="${categoryInfoList.categoryName}">
						</option>
					</select>

					<label for="searchTerm" class="mr-2">名称</label>
					<input type="text" id="searchTerm" name="name" class="form-control mr-2">

					<label for="searchTerm" class="mr-2">個数</label>
					<input type="number" id="searchTerm" "${stockList}" name="amount" value="" class="form-control mr-2">
					<select id="searchTerm" name="amountRange" class="form-control mr-2">
						<option value="0" th:text="'以上'">
						</option>
						<option value="1" th:text="'以下'">
						</option>
					</select>

					<button type="submit" class="btn btn-primary">検索</button>
				</form>

				<!-- エラーメッセージの表示 -->
				<div th:if="${errorMsg != null}" class="text-danger">
					<p th:text="${errorMsg}"></p>
				</div>
			</div>

			<!-- 在庫情報テーブル -->
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>分類</th>
							<th>名称</th>
							<th>個数</th>
							<th>保管場所</th>
							<th>説明</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${stockList}">
							<td> [[${item.categoryInfo.categoryName}]] </td>
							<td> [[${item.name}]] </td>
							<td> [[${item.amount}]] </td>
							<td> [[${item.centerInfo.centerName}]] </td>
							<td> [[${item.description}]] </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>